
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Light';
  src: url('/assets/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'SemiBold';
  src: url('/assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'ExterBold';
  src: url('/assets/fonts/Poppins-exterBold.ttf');
}

@font-face {
  font-family: 'Regular';
  src: url('/assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Medium';
  src: url('/assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'bold';
  src: url('/assets/fonts/Poppins-Bold.ttf');
}

.exterBold {
  font-family: 'ExterBold';
  /* background-color:red; */
}

.SemiBold {
  font-family: 'SemiBold';
  /* background-color:red; */
}

.light {
  font-family: 'Light';
  /* background-color:red; */
}

.bold {
  font-family: 'bold';
}

.Regular {
  font-family: 'Regular';
}

.Medium {
  font-family: 'Medium';
}

