@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Light';
  src: url('/assets/fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SemiBold';
  src: url('/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'ExterBold';
  src: url('/assets/fonts/Poppins-exterBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Regular';
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Medium';
  src: url('/assets/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'bold';
  src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
}

.exterBold {
  font-family: 'ExterBold';
  /* background-color:red; */
}

.SemiBold {
  font-family: 'SemiBold';
  /* background-color:red; */
}

.light {
  font-family: 'Light';
  /* background-color:red; */
}

.bold {
  font-family: 'bold';
}

.Regular {
  font-family: 'Regular';
}

.Medium {
  font-family: 'Medium';
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;

}

.marquee-track {
  display: inline-block;
  white-space: nowrap;
  animation: scrollMarquee 30s linear infinite;
}

@keyframes scrollMarquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}