body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Helvetica Neue', sans-serif;
                                              
}

@font-face {
  font-family: 'Light';
  src: url('/assets/fonts/HelveticaNeue-Light.otf');
}

@font-face {
  font-family: 'SemiBold';
  src: url('/public/assets/fonts/');
}

@font-face {
  font-family: 'ExterBold';
  src: url('/assets/fonts/HelveticaNeue-BoldExt.otf');
}

@font-face {
  font-family: 'Regular';
  src: url('/fonts/Oswald-Regular.ttf');
}

@font-face {
  font-family: 'Medium';
  src: url('/fonts/Oswald-Medium.ttf');
}

@font-face {
  font-family: 'bold';
  src: url('/fonts/Oswald-Bold.ttf');
}

.exterBold {
  font-family: 'ExterBold';
  /* background-color:red; */
}

.SemiBold {
  font-family: 'SemiBold';
  /* background-color:red; */
}

.light {
  font-family: 'Light';
  /* background-color:red; */
}

.bold {
  font-family: 'bold';
}

.Regular {
  font-family: 'Regular';
}

.Medium {
  font-family: 'Medium';
}

